<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @board.name %>
</p>

<% @board.posts.order('created_at desc').each do |post| %>
  <div>
    <img src="<%= post.photo.url :medium %>" alt="" />
  </div>  
<% end %>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>

<script type="text/javascript">
  $(function(){ 
      var id = <%= @board.id %>;
      console.log('id', id);
      var board = new Focoto.Models.Board({ id: id });
      console.log(board);
      board.fetch();
  });
</script>
