<p id="notice"><%= notice %></p>

<h1>
  <%= @board.name %>
</h1>

<h2 class="lead">
  Email your photos: <b><%= @board.email %></b>
</h2>

  <div class="fluid"></div>
<div class="slideshow"></div>


<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>

<script type="text/javascript">
  $(function(){ 
     /* var id = <%= @board.id %>;
      console.log('id', id);
      var board = new Focoto.Models.Board({ id: id });
      console.log(board);
      board.fetch(); */

      var posts = new Focoto.Collections.PostsCollection();
      var fluid = new Focoto.Views.Boards.Fluid({ el: $('.fluid'), collection: posts });

      //var slideshow = new Focoto.Views.Boards.Slideshow({ el: $('.slideshow'), collection: posts });

      /*setInterval(function() {
        slideshow.render();
      }, 1000);*/

      setInterval(function(){
        posts.fetch({add:true});
      }, 4000);

      posts.fetch({add:true});

  });
</script>
