<p id="notice"><%= notice %></p>

<p>
  <b>To name:</b>
  <%= @post.to_name %>
</p>

<p>
  <b>To email:</b>
  <%= @post.to_email %>
</p>

<p>
  <b>From name:</b>
  <%= @post.from_name %>
</p>

<p>
  <b>From email:</b>
  <%= @post.from_email %>
</p>

<p>
  <b>Subject:</b>
  <%= @post.subject %>
</p>

<p>
  <b>Text Body:</b>
  <%= @post.text_body %>
</p>

<p>
 <%= @post.photo.url %>
 <img src="<%= @post.photo.url %>"/>
 <%= @post.photo.url :thumb %>
 <img src="<%= @post.photo.url :medium %>"/>
 <%= @post.photo.url :medium %>
 <img src="<%= @post.photo.url :thumb %>"/>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
